/* -----------Default css------------ */

*{
    margin: 0;
    padding: 0;
    
}
h1,h2,h3,h4,h5,h6,p,a,button{
    font-family: 'Roboto', sans-serif;
}
span{
    font-family: 'Rubik', sans-serif;
}
img{
    width: 100%;
}
.fixed-width{
    width: 90%;
    margin: 0 auto;
}
.flow-hidden{
    overflow: hidden;
}

/* Header Start */

.header{
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.header .container{
    width: 90%;
    overflow: hidden;
    margin:0 auto;
}
/* logo */

.container .logo{
    width: 10%;
    float: left;
}
.container .logo a img{
    width: 100%;
}

/* menu */

.container .menu{
    width: 40%;
    float: right;
}
.container .menu ul{
    list-style: none;
    float: right;
}
.container .menu ul li{
    float: left;
}
.container .menu ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 300;
    padding: 19px 0;
    color: #0F2656;

    transition: .3s;
}
.container .menu ul li:last-child a{
    margin-right: 0;
}
.container .menu ul li a:hover{
    color: #0D69F9;
}

/* Header End */

/* Banner start */

.banner{
    margin: 50px 0;
}
.banner-title{}
.banner-title h2{
    text-align: center;
    color: #0F2656;
    font-size: 4rem;
}
.banner-subtitle{
    text-align: center;
}
.banner-subtitle h2{
    color: #0D69F9;
    margin: 2rem 0;
}
.banner-subtitle p{
    width: 45%;
    line-height: 1.7rem;
    margin: auto;
    color: #0F2656;
    font-weight: 300;
    word-spacing: .05rem;
    margin-bottom: 50px;
}
.banner-img{
    width: 40%;
    margin: auto;
}
/* Banner End */

/* sucess section start*/
.success-section{
    overflow: hidden;
    margin-bottom: 120px;
}
.success-left{
    width: 47%;
    float: left;
    text-align: right;
}
.success-left h2{
    font-size: 3.5rem;
    color: #F15767;
    margin-bottom: 2rem;
}
.success-left p{
    width: 45%;
    font-size: 19px;
    line-height: 1.8rem;
    color: #0F2656;
    font-weight: 300;
    word-spacing: .09rem;
    text-align: right;
    float: right;
}
.success-right{
    width: 47%;
    float: right;
    text-align: left;
}
.success-right h2{
    font-size: 3.5rem;
    line-height: 4.5rem;
    width: 60%;
    color: #0F2656;
}
/* success end */

/* service start */
.service-section{
    margin-bottom: 8rem;
}
.service-section .fixed-width{
    overflow: hidden;
}
.service1{
    width: 30%;
    float: left;
    background-color: #FEEBED;
}

.service2{
    width: 30%;
    float: left;
    margin: 0 5%;
    background-color: #EAF9F4;
}
.service3{
    width: 30%;
    float: left;
    background-color: #FFF8E8;

}
.card{
}
.card img{}
.card .title{
    text-align: center;
    padding: 10px 0;
}
.card .title h3{
    color: #0F2656;
    font-size: 25px;
    margin: 30px 0;
}
.card .title p{
    line-height: 1.7rem;
    color: #0F2656;
    font-weight: 300;
    word-spacing: .05rem;
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
}
/* service End */
/* footer start */
.footer-section{
    background-color: #0D69F9;
    padding: 2.5rem 0;
    text-align: center;
    font-size: 1rem;

}
.footer span{
    color: rgb(181, 228, 247);
    font-weight: 100;
}
.footer span p{
    color: white;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 600;
}

/* page start */
/* default css for page */
.alex-button{
    padding: 1.2rem 3rem;
    background: linear-gradient(tomato,#F4015F);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
}
/* page header */
.page-header{
    width: 100%;
    background-color: black;
    padding: 15px 0 ;
}
.page-header .logo{
    width: 10%;
    float: left;
}
.page-header .logo a{
    display: inline-block;
    text-decoration: none;
    color: tomato;
    padding: 10px 20px;

}
.page-header .menu{
    width: 40%;
    float: right;
}
.page-header .menu ul{
    list-style: none;
    text-align: right;
}
.page-header .menu ul li{
    display: inline-block;
}
.page-header .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: tomato;
    padding: 10px 20px;
    }
    .page-header .menu ul li a:hover{}
/*page header end */
/*page Banner start */
.page-banner-section{
    text-align: center;
    padding:200px 0;
    background-color: black;
}
.page-banner-section .page-banner-title{
    color: white;
}
.page-banner-section .page-banner-title h1{
    font-size: 5rem;
}
.page-banner-section .page-banner-title p{
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 3.5rem;
}
.banner-section button{}
/* page Banner End */

/* page end */

